body
{
    background-color: aqua;
    font-family: cursive;
}
.header_div
{
  background-color: yellow;
  color: black;
  font-family: fantasy;
}
.main_div
{
    background-color: yellowgreen;
    color: black;
    font-family: sans-serif;
    margin-top: 30px;
    width: 100;
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
}
.copy_right_footer
{
   position: fixed;
   color: blue;
   width: 100%;
   background-color: orange;
   font-size: 30px;
   text-align: center;
   line-height: 3;
   text-shadow: black;
}